/* min-width: 320px */

/* arrow animation values */
@keyframes arrowMovement {
    0%   { top: 50%; }
    50%  { top: 60%; }
    100% { top: 50%; }
    }

/* variables */
:root {
    --color-bg-body: oklch(0.9672 0 129.63);
    --color-bg-header: oklch(0.3311 0 0);
    --color-font-header: oklch(97.015% 0.00011 271.152);
    --color-bg-warning: oklch(0.8914 0 0);
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

/* body */
body {
    min-height: 100vh;
    
    background-color: var(--color-bg-body);
    
    font-family: 'Oswald', sans-serif;
}

#app {
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.4);
    max-width: 1000px;
    overflow: hidden;
}

h1, h2, h3 {
    text-align: center;
}

.is-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* arrow */
.arrow-container {
    display: flex;
    flex: 1;
}

.arrow {
    position: relative;
    animation: arrowMovement 0.9s ease-in-out infinite;
    height: 9vh;
}
