header {
    min-height: 100vh;
    width: 100vw;
    background-color: var(--color-bg-header);
    color: var(--color-font-header);
}

h1 {
    font-size: clamp(2.6rem, 7vw, 15rem);
    font-weight: bold;
    padding-top: clamp(12rem, 10vw, 20rem);
}

h2 {
    font-size: clamp(0.057rem, 2vw, 3rem);
    font-weight: bolder;
}