main {
    /* max-width: 1000px; */
}

.welcome {
    min-height: 100vh;
}

section h3 {
    font-size: clamp(2rem, 3vw, 4.5rem);
}

.warning {
    background: var(--color-bg-warning);
}

.tech-stack {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}