main {
    max-width: 1000px;
}

.welcome {
    min-height: 100vh;
}

section h3 {
    font-size: clamp(2rem, 2vw, 4.5rem);
}

.tech-stack {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;

}