.welcome {
    min-height: 100vh;
}

section h3 {
    font-size: clamp(2rem, 3vw, 4.5rem);
}

.warning {
    background: var(--color-bg-warning);
}

.warning p {
    margin: 1vh auto;
}

/* qutote */
p.quote{
    position: relative;
    width: clamp(0.5rem, 50vw, 75ch);
}

/* quotation mark */
p.quote:before{
    content: '"';
    font-size: 7rem;
    font-style: italic;
    font-family: 'Space Grotesk', sans-serif;
    position: absolute;
    top: -2.5rem;
    left: -0.6rem;
}

.tech-stack {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}