/* arrow - at 770 x 1030 */

/* mobile wider */
@media (min-width: 600px) and (max-width: 768) {
  body{
    padding: 0 7vw;
  }
}

/* tablet */
@media (min-width: 769px) and (max-width: 1023px) {
  body{
      padding: 0 20vw;
  }

  .quote-box {
    padding: 3rem 6rem;
    max-width: 25rem;
  }

  p.citat{
    padding: 0rem;
  }
}

  /* desktop */
@media (min-width: 1024px) {
  body {
      padding: 0 15vw;
  }

  .arrow {
  max-width: 5%;
  }

  .warning {
    width: clamp(30rem, 100%, 45rem);
  }

  .quote-box {
    padding: 3rem 6rem;
    max-width: 25rem;
  }

  .why-me-strong {
    font-size: clamp(1rem, 50%, 2rem);
  }

  .link-img {
    width: 50%;
  }

  .tech-stack {
    display: flex;
    padding: clamp(0.1rem, 1vw, 2.5rem);
  }

  .why-me-paragraph {
    padding: 3rem;
    margin: 
    3rem 0;
    max-width: 50rem;

  }

  .thank-you {
    max-width: 80ch;
  }

  .pre-footer {
    align-items: center;
  }
}