<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>💻 Kristián Černák - WebAmatér</title>

<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js" 
        integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ" 
        crossorigin="anonymous">
</script>

    <link rel="stylesheet" href="css/modern-normalize.css">
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/variables.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">

</head>

<body>
    <header class="block has-text-centered p-6 mb-1" hx-get="components/header.html" hx-trigger="load"></header>

    <main>
        <div class="welcome box has-text-centered container" hx-get="components/welcome.html" hx-trigger="load"></div>
        
        <section class="img-container" hx-get="components/used-tech-stack.html" hx-trigger="load"></section>

        <section class="img-container" hx-get="components/other-tech-stack.html" hx-trigger="load"></section>

        <section class="post-section" hx-get="components/post-section.html" hx-trigger="load"></section>
    
        <div class="pre-footer box is-flex is-flex-direction-column has-text-centered has-background-white-ter has-text-dark mt-5" hx-get="components/pre-footer.html" hx-trigger="load"></div>
    </main>

    <footer class="footer is-flex is-flex-direction-column has-text-centered pb-0 pl-6 pr-6" hx-get="components/footer.html" hx-trigger="load"></footer>

    <p class="cookies pb-3 p-6 has-text-centered">Táto stránka používa len nevyhnutné cookies, potrebné na zabezpečenie jej správneho fungovania.</p>

    <!-- scripts -->
    <script src="js/jquery-3.7.1.js"></script>
    <script src="js/script.js"></script>
    <script>

    </script>

</body>
</html>
