<h4 class="subtitle is-4 has-text-centered">Čo ďalšie používam?</h4>

<div class="tech-stack">
    <a class="box m-0 link-img" href="https://www.vuejs.org/" target="_blank" rel="noopener" title="vue3 website">
        <img src="images/vue.png" alt="vue icon">
    </a>
    
    <a class="box m-0 link-img" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noopener" title="js es6 website">
        <img src="images/js.png" alt="js es6 icon">
    </a>

    <a class="box m-0 link-img" href="https://www.java.com/" target="_blank" rel="noopener" title="java website">
        <img src="images/java.png" alt="java icon">
    </a>

    <a class="box m-0 link-img" href="https://spring.io/projects/spring-boot" target="_blank" rel="noopener" title="spring website">
        <img src="images/springboot.png" alt="spring icon">
    </a>   

    <a class="box m-0 link-img" href="https://www.w3schools.com/sql/sql_intro.asp" target="_blank" rel="noopener" title="sql website">
        <img src="images/sql.png" alt="sql icon">
    </a>

    <a class="box m-0 link-img" href="https://www.atlassian.com/software/jira" target="_blank" rel="noopener" title="jira website">
        <img src="images/jira.png" alt="jira icon">
    </a>

    <a class="box m-0 link-img" href="https://www.atlassian.com/software/confluence" target="_blank" rel="noopener" title="confluence website">
        <img src="images/confluence.png" alt="confluence icon">
    </a>
</div>