<p class="post-section-paragraph is-size-7 mt-6 has-text-dark">
    <strong class="post-section-strong">Všetko pekne postupne.</strong>
    <br>S vyššie spomenutými technológiami som pracoval v rámci vzdelávania. Niektoré ovládam lepšie, z niektorých len základy.
    <br>Plánujem si však neustále rozširovať vedomosti, tie odzrkadliť na tejto stránke a ďalších projektoch. Mrkni na <a href="https://github.com/kilocharlie96/webamater" target="_blank" rel="noopener" title="Prejsť na GitHub">GitHub</a> a prezri si históriu vývoja so „zdrojákom,“ alebo ďalšie projekty.
</p>