<h4 class="subtitle is-4 has-text-centered">Čo bolo použité pri tvorbe tejto stránky?</h4>

<div class="tech-stack">
    <a class="box m-0 link-img" href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank" rel="noopener" title="html website">
        <img src="images/html.png" alt="html icon">
    </a>

    <a class="box m-0 link-img" href="https://htmx.org/" target="_blank" rel="noopener" title="htmx website">
        <img src="images/htmx.png" alt="htmx icon">
    </a>
    
    <a class="box m-0 link-img" href="https://moderncss.dev/" target="_blank" rel="noopener" title="modern css website">
        <img src="images/modern_css.png" alt="modern css icon">
    </a>

    <a class="box m-0 link-img" href="https://bulma.io/" target="_blank" rel="noopener" title="bulma website">
        <img src="images/bulma.png" alt="bulma icon">
    </a>

    <a class="box m-0 link-img" href="https://jquery.com" target="_blank" rel="noopener" title="jquery website">
        <img src="images/jqeury.png" alt="jquery icon">
    </a>

    <a class="box m-0 link-img" href="https://git-scm.com/" target="_blank" rel="noopener" title="git website">
        <img src="images/git.png" alt="git icon">
    </a>
</div>