<h3 class="subtitle is-3 p-3">Vitaj na mojej stránke</h3>

<p class="box has-background-grey-lighter has-text-dark is-relative warning">
    <strong>Pozor!</strong>
    <br>Uživateľské rozhranie je dizajnované prístupom "Mobile-First" so svetlou témou.
    <br>Na stránke sa však stále pracuje.
    <br>Priebeh vývoja si môžeš pozrieť <a href="https://github.com/kilocharlie96/webamater/tree/develop_responsive" title="GitHub develop_responsive branch">TU</a>.
    <br><button class="button mt-4 has-background-dark">Rozumiem!</button>
</p>

<p class="is-size-5 pr-3 pl-3 m-6">Táto stránka má byť niečo ako CV a zároveň prezentácia mojich skills v praxi.</p>
<p class="is-size-5 p-5 ml-4 mr-4"><strong>Žiaden WordPress.<br>Iba ja, HTML, CSS a ChatGPT.<small class="is-small"><br>( pokus o vtip )</small></strong></p>


<p class="is-size-5">Krátka story..</p>
<p class="box is-size-7 mt-5 p-6 quote is-italic citat">K programovaniu som sa dostal vďaka bratovi, ktorý mi odporučil knihu "Java bez predchádzajúcich skúseností". Potom som pokračoval formou video kurzov a dostal som sa postupne k front-endu. Vďaka Ti, <a href="https://skillmea.sk/kanaly/jaroslav-beno/o-nas" target="_blank" rel="noopener" title="jaroslavbeno.sk">Jaro Beňo</a> a <a href="http://webrebel.sk/" target="_blank" rel="noopener" title="webrebel.sk">Yablko</a>. Prvú príležitosť podieľať sa na vývoji aplikácií som získal v SCRUM tíme, ktorý vyvíjal low-code aplikácie v MS PowerApps. Neskôr som vyrábal e-shop, s viac ako 5 000 produktami, na platforme Shopify. Tam som, <small>okrem iného,</small> používal HTML, CSS, JS na tvorenie rôznych šablón. Ja mám rád <strong>veci pod kontrolou</strong>, preto chcem písať <strong>vlastný a čitateľný kód</strong>. Momentálne som samouk, ktorý si popri zamestnaní rozširuje svoje vedomosti a snaží sa pri tom niečo tvoriť.
</p>