<h3 class="subtitle is-3 p-3">Vitaj na mojej stránke</h3>

<p class="warning box has-text-dark is-relative">
    <strong>Pozor!</strong>
    <br>Uživateľské rozhranie je dizajnované prístupom „Mobile-First“ so svetlou témou.
    <br>Na stránke sa stále pracuje a tým sa zlepšuje aj responzívny dizajn.
    <br>Priebeh vývoja si môžeš pozrieť <a href="https://github.com/kilocharlie96/webamater/tree/develop_responsive" title="GitHub develop_responsive branch">TU</a>.
    <br><button class="button mt-4 has-background-dark">Rozumiem!</button>
</p>

<p class="is-size-5 pr-3 pl-3 m-6">Táto stránka má byť niečo ako CV a zároveň prezentácia mojich skills v praxi.</p>
<p class="is-size-5 p-5 ml-4 mr-4"><strong>Žiaden WordPress.<br>Iba ja, HTML, CSS a ChatGPT.<small class="is-small"><br>( pokus o vtip )</small></strong></p>

<section class="why-me" hx-get="components/why-me.html" hx-trigger="load"></section>