<h3 class="subtitle is-3 p-3">Vitaj na mojej stránke</h3>

<p class="warning box has-text-dark is-relative">
    <strong>Pozor!</strong>
    <br>Uživateľské rozhranie je dizajnované prístupom „Mobile-First“ so svetlou témou.
    <br>Do cieľa je takmer dotiahnutá aj verzia pre tablety a desktopy vo FullHD.
    <br>Priebeh vývoja si môžeš pozrieť <a href="https://github.com/kilocharlie96/webamater/tree/develop_responsive" title="GitHub develop_responsive branch">TU</a>.
    <br><button class="button mt-4 has-background-dark">Rozumiem!</button>
</p>

<p class="is-size-5 pr-3 pl-3 m-6">Táto stránka má byť niečo ako CV a zároveň prezentácia mojich skills v praxi.</p>
<p class="is-size-5 p-5 ml-4 mr-4"><strong>Žiaden WordPress.<br>Iba ja, HTML, CSS a ChatGPT.<small class="is-small"><br>( pokus o vtip )</small></strong></p>


<p class="is-size-5">Krátka story..</p>
<p class="quote-box box is-size-7 mt-5 p-6 quote is-italic">K programovaniu som sa dostal vďaka bratovi, ktorý mi odporučil knihu „Java bez predchádzajúcich skúseností.“ Potom som pokračoval formou online kurzov a dostal som sa postupne k front-endu. Vďaka Vám, <a href="http://webrebel.sk/" target="_blank" rel="noopener" title="webrebel.sk">Yablko</a> a <a href="https://skillmea.sk/kanaly/jaroslav-beno/o-nas" target="_blank" rel="noopener" title="jaroslavbeno.sk">Jaro Beňo</a>. Prvú príležitosť podieľať sa na vývoji aplikácií som získal v SCRUM tíme, ktorý vyvíjal low-code aplikácie v MS PowerApps. Neskôr som vyrábal e-shop, s viac ako 5 000 produktami, na platforme Shopify. Tam som, <small>okrem iného,</small> používal HTML, CSS, JS na tvorenie rôznych šablón. Keďže mám rád veci pod kontrolou, chcem radšej písať vlastný a čitateľný kód. Momentálne som samouk, ktorý si popri zamestnaní rozširuje svoje vedomosti a snaží sa pri tom niečo tvoriť.
</p>