<p class="why-me-paragraph is-size-7 mt-6 has-text-dark">
    <strong class="why-me-strong">Prečo práve ja?</strong>
    <br>S vyššie spomenutými technológiami som pracoval v rámci vzdelávania. Niektoré ovládam lepšie, z niektorých len základy.
    <br>Plánujem si neustále rozširovať vedomosti a rád sa naučím niečo nové. Na programovaní a vytváraní webu ma baví možnosť využiť svoju kreativitu a logické myslenie. Ten pocit, keď sa kus kódu premení na niečo fungujúce, je na nezaplatenie 🙂. Som otvorený rôznej forme spolupráce. Ide mi hlavne o získavanie nových skúseností, vedomostí a robenie toho, čo ma baví.
</p>